.attractions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .hotel-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .hotel-card img {
    width: 70%;
    height: 70%;
  }
  .weather-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .destination {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .destination img {
    width: 100%;
    height: auto;
  }
  
  .destination-details {
    margin-top: 10px;
  }
  
  .destination-details h3 {
    margin-bottom: 5px;
  }
  
  .destination-details button {
    margin-top: 10px;
  }
  