.attractions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .place-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 20px -15px rgb(138, 153, 237);
  }

  .place-card img{
    height: 350px;
    width: 300px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
   
  button {
    margin-top: 10px;
  }
  
  .hotel-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 5px 20px -15px rgb(138, 153, 237);
  }
  
  .hotel-card img {
    width: 70%;
    height: 70%;
  }
  
  .destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .destinationCard {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 5px 20px -15px rgb(138, 153, 237);
  }
  
  .destinationCard img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  
  .weather-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  .weatherBox{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 5px 20px -15px rgb(138, 153, 237);
  }