.navBar{
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    
    color: #8C8C8C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  
    box-shadow: 0 5px 20px -15px rgb(138, 153, 237);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    margin-bottom: 20px;
    height: 90px;
  }
  
  .navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
  }
  
  .navBarLi{
    margin-right: 40px;
    cursor: pointer;
  }
  
  .navLogo{
    margin-left: 40px;
  }
  
  .navBarText{
    animation: slide-in .5s forwards;
    -webkit-animation: slide-in .5s forwards;
    position: absolute;   
    right: 0px;   
  }
  
  .navBar .navBarLi:hover{
    color: #cccccc;
  }
  
  @keyframes slide-in {
    0% { transform: translateX(300%); }
    50% { transform: translateX(300%); }
    100% { transform: translateX(0%); }
  }
  
  @-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(300%); }
    50% { -webkit-transform: translateX(300%); }
    100% { -webkit-transform: translateX(0%); }
  }
  
  
  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(300%); }
  }
  
  @-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(300%); }
  }

  