.navBar{
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  
    box-shadow: 0 5px 20px -15px black;
    backdrop-filter: blur(10px); 
    margin-bottom: 20px;
    height: 90px;
  }
  
  .navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
  }
  
  .navBarLi{
    margin-right: 40px;
    cursor: pointer;
  }
  
  .navLogo{
    margin-left: 40px;
  }
  
  .navBarText{
    animation: slide-in .5s forwards;
    -webkit-animation: slide-in .5s forwards;
    position: absolute;   
    right: 0px;   
  }
  
  .navHamburger{
    margin-right: 40px;
    cursor: pointer;
    font-size: 35px;
  }
  
  @media (max-width: 850px){
    .navBarText{
      animation: slide-in .5s forwards;
     -webkit-animation: slide-in .5s forwards;
    }
  
    .navHamburger{
      display: flex;
      position: absolute; 
      right: 0px;
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }
  
    .hamburgerText{
      display: flex;
    }
  }
  
  .hamburgerText{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-size: 35px;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(34, 34, 34, .9);
    width: 100vw;
    height: 100vh;
  }
  
  .navHamburger svg, .navLogo{
    z-index: 100;
  }
  
  .navBar .navBarLi:hover{
    color: #cccccc;
  }
  
  @keyframes slide-in {
    0% { transform: translateX(300%); }
    50% { transform: translateX(300%); }
    100% { transform: translateX(0%); }
  }
  
  @-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(300%); }
    50% { -webkit-transform: translateX(300%); }
    100% { -webkit-transform: translateX(0%); }
  }
  
  
  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(300%); }
  }
  
  @-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(300%); }
  }
  