.navBar {
  top: 0;
  position: relative;
  z-index: 100;
  width: 100vw;
  overflow: hidden;

  color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  box-shadow: 0 5px 20px -15px rgb(138, 153, 237);
  background-color: rgba(212, 231, 243, 0.5);
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  height: 90px;
}

.navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin-right: 20px;
}

.navBarLi {
  margin-right: 40px;
  cursor: pointer;
}

.navLogo {
  margin-left: 40px;
}

.navBarText {
  animation: slide-in .5s forwards;
  -webkit-animation: slide-in .5s forwards;
  position: absolute;
  right: 0px;
}

.navBar .navBarLi:hover {
  color: #cccccc;
}

nav {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  position: relative;
  text-decoration: none;
}

nav a:hover {
  color: #3f3fb9;
}

nav a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f6eee9;
  transition: width 0.3s;
}

nav a:hover::before {
  width: 100%;
}

nav a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #00a6ff;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

@keyframes slide-in {
  0% {
    transform: translateX(300%);
  }

  50% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(300%);
  }

  50% {
    -webkit-transform: translateX(300%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(300%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(300%);
  }
}