/* light blue - 94DBF1
darker blue - 77AEEE
light gray - D9D9D9
dark gray - 8C8C8C */
*{
  margin: 0;
  padding: 0;
}


body{
  background-color: whitesmoke;
  color: blue;
  font-family: Arial;
}

.container{
  border: 3px solid rgb(133, 137, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(59, 59, 60);
  width: 100%;
}
