.map-container {
  border: 10px solid black;
  width: 1100px;
  height: 825px;
  position: relative;
  margin: 15px auto;
  background-color: rgb(220, 220, 220);
}

path {
  fill: #263b6c;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.rsm-geography:focus {
  outline: none;
}

.rsm-marker {
  fill: #FF0000;
  stroke: none;
}

.markerText {
  font-family: "system-ui";
  fill: #5D5A6D;
}

.rsm-geography:hover {
  fill: #FFD700;
}
