path {
  fill: #192748;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.rsm-geography:focus {
  outline: none;
}

.rsm-marker {
  fill: #FF0000;
  stroke: none;
}

.markerText {
  font-family: "system-ui";
  fill: #5D5A6D;
}
