:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, var(--SecondaryColor), var(--PrimaryColor));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(281, 33%, 16%);
  --textColor: var(--whiteColor);
  --whiteColorDeam: hsl(240, 4%, 36%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(248, 240, 246);
  --cardBG: rgb(225, 225, 235);
}


.afterlogin-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.afterlogin-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.afterlogin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(60, 128, 153);
  opacity: 0.7;
  z-index: 1;
  mix-blend-mode: hard-light;

}

.afterlogin-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  margin-top: 40px;
}

  .WelcomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .UserProfile {
    display: flex;
    align-items: center;
    /* margin-bottom: -20%; */
  }

  .userProfile_Image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .UserProfile h3 {
    margin: 0;
  }

   

  /* .savedTrips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--greyText);
    margin-top: 20px;
  }
 
  
  .savedTrips h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
  } */

 
.icon{
  font-size: 2rem;
  cursor: pointer;
}


.btn{
  padding: 6rem 1.5rem;
  border-radius: none;
  outline: none;
  cursor: pointer;

}

.btn:hover{
  background: var(--gradientColor);
}



  */


.home {
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.title {
  color: var(--whiteColor);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.subTitle {
  color: var(--whiteColor);
  opacity: 0.9;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
  max-width: 70%;
  text-align: center;
  margin: auto;
}


.btn.btn-primary {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 12px 25px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin-top: 20%;
}


